:root{
    --CorPreta:#ad8181;
    --midnight-violet: rgb(79, 0, 116);
    --platinum: rgb(255, 255, 255);
    --slate-blue: rgb(66, 47, 146);
    --tuscan-sun: rgb(2, 0, 46);
    --vibrant-coral: rgb(211, 118, 112);
}
