@charset "UTF-8";
@import "reset.css";
@import "cores.css";




@font-face {
    font-family: Mario;
    src: url(fonts/retro_mario/RetroMario-Regular.otf)
} 

body {
    color: var(--platinum);
    font-family: 'Courier New';
    background-color: var(--midnight-violet);
    font-size: var(--tamanho 3);
}
.tituloPrincipal{
    text-align: center;
}
.tituloPrincipal span:nth-child(1){
    color: aqua;
    text-align: center
}
.img-banner {
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: rgb(192, 0, 182);
}
.menu {
    text-align: center;
    margin: 20px 0;
}
.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ffebeb;
    background-color: aqua;
}


section {
    background-color:pink;
}

section{
    background-color: #00c030;
    font-size: large;
}
#turmas .sala {
    display: inline-block;
    vertical-align: top;
    background-color: rgb(16, 189, 0);
    min-height: 300px;
    width: 100%;
    min-height: 350px;
    border: 2px solid #00c030;
    box-sizing: border-box;
}
span{
    color: #159ca3;
}

#turmas footer {
    background-color: rgb(31, 25, 20);
}

#turmas footer h3 {
    font-size: smaller;
}

#turmas .sala.turma_A{
    background-color: bisque;
    color: #000;
}

#turmas .sala.turma_B{
    background-color: rgb(200, 196, 204);
}


.listaAlunos {
    list-style: decimal-leading-zero;
    margin-left: 30px;
}
.listaAlunos li {
    padding: 5px;
}
.menu ul li{
    border-color: #13ff62;
    padding: 20px;
}
.menu ul li a:visited{
    background-color: #ffffff;
}